<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/tickets/new.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>New flight</title>
</head>

<body>
    <div>
        <h2>Add a New Ticket</h2>
    </div>
    <form action= "/flights/<%= flight._id%>/tickets" method="POST">
        <div class="seat-container">
            <label>Seat:
                <input id ="seat-input" name="seat" required pattern="[A-F][1-9]\d?">
            </label><br>
        </div>
        <div class="price-container">
            <label>Price:
                <input id="price-input" name="price" type="number" min= 0 max=500 step=10>
            </label><br>
        </div>
        <div class="add-ticket-button">
            <button value="Add Ticket">Add ticket</button>
        </div>
    </form>
</body>
</html>

