body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav {
  display: flex;
  color: white;
  background-color: white;
  margin-bottom: 10px;
}

.nav-link:hover {
  background-color: #d8e1e4;
}