body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin: 10px;
  font-size: 15px;
}

div {
  margin: 10px;
}

.show-details-head {
  font-size: 20px;
  font-weight: bold;
}

label {
  margin: 5px;
}

